img {
  float: right;
  width: 30%;
}

.jumbotron {
  background-image: url('../img/background2.jpg');
  background-position: center;
  background-size: cover;
  color: ;
  font-family: Tradizional DEMO, Futura, Trebuchet MS, Arial, sans-serif;
  /*text-shadow: 2px 2px black;*/
}

.jumbotron h1 {
  font-size: 75px;
}

.jumbotron img {
  float: left;
  width: 30%;
}

body{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.hide-me {
  display: none;
  color: white ;
}

.hide-me h3 {
  text-align: center;
  font-family: Impact sans-serif;
  font-size: 75px;
}

.hide-me {
  font-size: 30px;
}

#address {
  text-align: center;
  color: white;
}
#order .btn button {
  color: white;
}

.orders {
  color: #D49B17;
}

.orders div h1 {
  color: white;
}

.order-header {
  color: white;
  text-align: center;
}
#pizza-size {
  border: 2px 2px 0px 2px solid black;
}
