body{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-image: url('../img/background2.jpg');
  background-position: center;
  background-size: cover;
  color: ;
  font-family: Tradizional DEMO, Futura, Trebuchet MS, Arial, sans-serif;
  /*text-shadow: 2px 2px black;*/
}

.jumbotron img {
  float: left;
  width: 30%;
}

#address {
  text-align: center;
  color: white;
}

img {
  width: 75%;
}

.jumbotron h1 {
  font-size: 75px;
}
